In [8]:
import pandas as pd

In [9]:
import numpy as np

In [4]:
df=pd.read_excel("Superstore.xls")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.rename(columns={"Row ID":"Row_ID", "Order ID":"Order_ID", "Order Date":"Order_Date", "Ship Date":"Ship_Date", "Ship Mode":"Ship_Mode", "Customer ID":"Customer_ID", "Customer Name":"Customer_Name", "Postal Code":"Postal_Code", "Product ID":"Product_ID", "Product Name":"Product_Name"}, inplace=True)
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [7]:
df.isnull().values.any()

False

In [8]:
df.Category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [9]:
df.rename(columns = {'Sub-Category':'SubCategory'}, inplace = True)

In [10]:
df.SubCategory.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: SubCategory, dtype: int64

In [11]:
df.City.value_counts()

New York City      915
Los Angeles        747
Philadelphia       537
San Francisco      510
Seattle            428
                  ...
Glenview             1
Missouri City        1
Rochester Hills      1
Palatine             1
Manhattan            1
Name: City, Length: 531, dtype: int64

In [12]:
df.Region.value_counts()

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64

In [13]:
region_mean=df.groupby(["Region"]).mean()
region_mean

C:\Users\twmgp\AppData\Local\Temp\ipykernel_29588\563718230.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  region_mean=df.groupby(["Region"]).mean()

              Row_ID   Postal_Code       Sales  Quantity  Discount     Profit
Region
Central  5030.547998  65340.572536  215.772661  3.779595  0.240353  17.092709
East     4941.685042  17616.466994  238.336110  3.728230  0.145365  32.135808
South    5069.935185  34490.772840  241.803645  3.832716  0.147253  28.857673
West     4986.524508  91707.696534  226.493233  3.829535  0.109335  33.849032

In [14]:
region_sum=df.groupby(["Region"]).sum()
region_sum

C:\Users\twmgp\AppData\Local\Temp\ipykernel_29588\2366756502.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  region_sum=df.groupby(["Region"]).sum()

           Row_ID  Postal_Code        Sales  Quantity  Discount       Profit
Region
Central  11685963    151786150  501239.8908      8780    558.34   39706.3625
East     14073919     50171698  678781.2400     10618    414.00   91522.7800
South     8213295     55875052  391721.9050      6209    238.55   46749.4303
West     15971838    293739752  725457.8245     12266    350.20  108418.4489

In [15]:
df.head(1)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,SubCategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136

In [16]:
df_order=df[['Row_ID', 'Order_ID','Order_Date', 'Ship_Date', 'Ship_Mode']]
df_order

      Row_ID        Order_ID Order_Date  Ship_Date       Ship_Mode
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

[9994 rows x 5 columns]

In [17]:
df.head(1)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,SubCategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136

In [18]:
df_customer=df[['Row_ID', 'Order_ID', 'Customer_ID','Customer_Name','Segment','Country','City','Postal_Code','Region']]
df_product=df[['Row_ID','Order_ID','Product_ID','Category','SubCategory','Product_Name','Sales','Quantity','Discount','Profit']]

In [19]:
df_product['Sales']= round(df_product['Sales'],4)
df_product

C:\Users\twmgp\AppData\Local\Temp\ipykernel_29588\1417056781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_product['Sales']= round(df_product['Sales'],4)

,Row_ID,Order_ID,Product_ID,Category,SubCategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [21]:
df_product['Profit']= round(df_product['Profit'],4)
df_product

C:\Users\twmgp\AppData\Local\Temp\ipykernel_29588\441411534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_product['Profit']= round(df_product['Profit'],4)

,Row_ID,Order_ID,Product_ID,Category,SubCategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [30]:
df_order.to_csv("order_info.csv", index=False)
df_customer.to_csv("customer_info.csv", index=False)
df_product.to_csv("product_info.csv", index=False)

In [24]:
df_product.to_csv("product_info.csv", index=False)

In [23]:
df_product

,Row_ID,Order_ID,Product_ID,Category,SubCategory,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [27]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.

  Downloading SQLAlchemy-1.4.44-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 2.4 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp310-cp310-win_amd64.whl (190 kB)
     -------------------------------------- 190.9/190.9 kB 5.8 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 sqlalchemy-1.4.44

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy as sql
import psycopg2
import config
from config import db_password
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, Time
from sqlite3 import connect
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func

In [29]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 2.0 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [30]:
import sqlalchemy as sql
import psycopg2
import config
from config import db_password
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, Time
from sqlite3 import connect
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func

ModuleNotFoundError: No module named 'config'

In [31]:
pip install config

Collecting config
  Downloading config-0.5.1-py2.py3-none-any.whl (20 kB)
Installing collected packages: config
Successfully installed config-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [33]:
import sqlalchemy as sql
import psycopg2
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text, Time
from sqlite3 import connect
from sqlalchemy import inspect
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func

In [1]:
pip install sys

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sys (from versions: none)
ERROR: No matching distribution found for sys

In [2]:
import sys  
sys.path.insert(0, "/Users/twmgp/Documents/Data Analytics/Classwork/")
import config

from config import db_password

In [6]:
# Create a new table with joins:

# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/Alumni"
db = create_engine(db_string)
conn = db.connect()

In [10]:
# define your database query
query = """
SELECT oi.row_id,
oi.order_id, 
oi.order_date,
oi.ship_date, 
oi.ship_mode,
ci.customer_id, 
ci.customer_name,
ci.segment, 
ci.country,
ci.city,
ci.postal_code, 
ci.region,
pi.product_id,
pi.category,
pi.subcategory,
pi.product_name,
pi.sales,
pi.quantity,
pi.discount, 
pi.profit
FROM order_info AS oi
INNER JOIN customer_info as ci
ON (oi.row_id = ci.row_id)
INNER JOIN product_info AS pi
ON (oi.row_id = pi.row_id)
"""
#access the database with the query and return a dataframe
df_all = pd.read_sql(query, conn)
df_all.head(5)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [67]:
# define your database query
query = """
SELECT oi.row_id,
oi.order_id, 
oi.order_date,
oi.ship_date, 
oi.ship_mode,
ci.customer_id, 
ci.customer_name,
ci.segment, 
ci.country,
ci.city,
ci.postal_code, 
ci.region,
pi.product_id,
pi.category,
pi.subcategory,
pi.product_name,
pi.sales,
pi.quantity,
pi.discount, 
pi.profit
FROM order_info AS oi
INNER JOIN customer_info as ci
ON (oi.row_id = ci.row_id)
INNER JOIN product_info AS pi
ON (oi.row_id = pi.row_id)
WHERE ci.region = 'South'
"""
#access the database with the query and return a dataframe
df_south = pd.read_sql(query, conn)
df_south.head(5)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
4,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432

In [11]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/Alumni"
db = create_engine(db_string)
conn = db.connect()
# define your database query
query = """
SELECT oi.row_id,
oi.order_id, 
oi.order_date,
oi.ship_date, 
oi.ship_mode,
ci.customer_id, 
ci.customer_name,
ci.segment, 
ci.country,
ci.city,
ci.postal_code, 
ci.region,
pi.product_id,
pi.category,
pi.subcategory,
pi.product_name,
pi.sales,
pi.quantity,
pi.discount, 
pi.profit
FROM order_info AS oi
INNER JOIN customer_info as ci
ON (oi.row_id = ci.row_id)
INNER JOIN product_info AS pi
ON (oi.row_id = pi.row_id)
WHERE ci.region = 'East'
"""
#access the database with the query and return a dataframe
df_east = pd.read_sql(query, conn)
df_east.head(5)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
1,28,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.430,7,0.5,-1665.0522
2,29,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,19140,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.618,2,0.7,-7.0532
3,30,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,19140,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.200,3,0.2,15.5250
4,31,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,19140,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016

In [12]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/Alumni"
db = create_engine(db_string)
conn = db.connect()
# define your database query
query = """
SELECT oi.row_id,
oi.order_id, 
oi.order_date,
oi.ship_date, 
oi.ship_mode,
ci.customer_id, 
ci.customer_name,
ci.segment, 
ci.country,
ci.city,
ci.postal_code, 
ci.region,
pi.product_id,
pi.category,
pi.subcategory,
pi.product_name,
pi.sales,
pi.quantity,
pi.discount, 
pi.profit
FROM order_info AS oi
INNER JOIN customer_info as ci
ON (oi.row_id = ci.row_id)
INNER JOIN product_info AS pi
ON (oi.row_id = pi.row_id)
WHERE ci.region = 'West'
"""
#access the database with the query and return a dataframe
df_west = pd.read_sql(query, conn)
df_west.head(5)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
1,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7,0.0,14.1694
2,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
3,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
4,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3,0.2,5.7825

In [13]:
# Connect to sql database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/Alumni"
db = create_engine(db_string)
conn = db.connect()
# define your database query
query = """
SELECT oi.row_id,
oi.order_id, 
oi.order_date,
oi.ship_date, 
oi.ship_mode,
ci.customer_id, 
ci.customer_name,
ci.segment, 
ci.country,
ci.city,
ci.postal_code, 
ci.region,
pi.product_id,
pi.category,
pi.subcategory,
pi.product_name,
pi.sales,
pi.quantity,
pi.discount, 
pi.profit
FROM order_info AS oi
INNER JOIN customer_info as ci
ON (oi.row_id = ci.row_id)
INNER JOIN product_info AS pi
ON (oi.row_id = pi.row_id)
WHERE ci.region = 'Central'
"""
#access the database with the query and return a dataframe
df_central = pd.read_sql(query, conn)
df_central.head(5)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.810,5,0.8,-123.8580
1,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.544,3,0.8,-3.8160
2,17,CA-2014-105893,2014-11-11,2014-11-18,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.880,6,0.0,13.3176
3,22,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.460,7,0.0,5.0596
4,23,CA-2016-137330,2016-12-09,2016-12-13,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,68025,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.340,7,0.0,15.6884

In [75]:
df_sub=df_all.loc[(df_all["region"]=='South')&(df_all["category"]=='Office Supplies')]
df_sub

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
43,44,CA-2017-139619,2017-09-19,2017-09-23,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616
69,70,CA-2016-119823,2016-06-04,2016-06-06,First Class,KD-16270,Karen Daniels,Consumer,United States,Springfield,22153,South,OFF-PA-10000482,Office Supplies,Paper,Snap-A-Way Black Print Carbonless Ruled Speed ...,75.880,2,0.0,35.6636
74,75,US-2015-134026,2015-04-26,2015-05-02,Standard Class,JE-15745,Joel Eaton,Consumer,United States,Memphis,38109,South,OFF-ST-10004123,Office Supplies,Storage,Safco Industrial Wire Shelving System,72.784,1,0.2,-18.1960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9856,9857,CA-2014-120950,2014-11-06,2014-11-11,Standard Class,GA-14515,George Ashbrook,Consumer,United States,Columbus,31907,South,OFF-PA-10000587,Office Supplies,Paper,"Array Parchment Paper, Assorted Colors",43.680,6,0.0,20.9664
9881,9882,CA-2014-153927,2014-08-12,2014-08-13,First Class,LL-16840,Lauren Leatherbury,Consumer,United States,Woodstock,30188,South,OFF-BI-10000138,Office Supplies,Binders,Acco Translucent Poly Ring Binders,14.040,3,0.0,6.7392
9911,9912,US-2014-157231,2014-04-05,2014-04-09,Standard Class,RP-19855,Roy Phan,Corporate,United States,Richmond,40475,South,OFF-BI-10002852,Office Supplies,Binders,Ibico Standard Transparent Covers,115.360,7,0.0,56.5264
9970,9971,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,30080,South,OFF-BI-10002867,Office Supplies,Binders,GBC Recycled Regency Composition Covers,119.560,2,0.0,54.9976
9971,9972,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,30080,South,OFF-AR-10000538,Office Supplies,Art,"Boston Model 1800 Electric Pencil Sharpener, Gray",140.750,5,0.0,42.2250

In [92]:
df = df_all.groupby(['category','segment','region'], as_index=False)['profit'].mean()
df

           category      segment   region      profit
0         Furniture     Consumer  Central  -15.664448
1         Furniture     Consumer     East    6.726443
2         Furniture     Consumer    South   25.648514
3         Furniture     Consumer     West   11.548448
4         Furniture    Corporate  Central   16.948861
5         Furniture    Corporate     East    1.727908
6         Furniture    Corporate    South    9.426043
7         Furniture    Corporate     West   18.898409
8         Furniture  Home Office  Central  -13.467518
9         Furniture  Home Office     East    6.659279
10        Furniture  Home Office    South   23.577318
11        Furniture  Home Office     West   26.275544
12  Office Supplies     Consumer  Central    3.495458
13  Office Supplies     Consumer     East   21.647176
14  Office Supplies     Consumer    South   18.198252
15  Office Supplies     Consumer     West   25.461676
16  Office Supplies    Corporate  Central    0.238117
17  Office Supplies    Corporate     East   25.880125
18  Office Supplies    Corporate    South   25.131665
19  Office Supplies    Corporate     West   33.144366
20  Office Supplies  Home Office  Central   23.299030
21  Office Supplies  Home Office     East   27.415202
22  Office Supplies  Home Office    South   15.985639
23  Office Supplies  Home Office     West   25.503733
24       Technology     Consumer  Central   45.758436
25       Technology     Consumer     East   71.691293
26       Technology     Consumer    South   85.664856
27       Technology     Consumer     West   92.005192
28       Technology    Corporate  Central  136.828683
29       Technology    Corporate     East   61.778542
30       Technology    Corporate    South   72.006274
31       Technology    Corporate     West   62.518655
32       Technology  Home Office  Central   89.632284
33       Technology  Home Office     East  180.704770
34       Technology  Home Office    South   13.901365
35       Technology  Home Office     West   43.179418